<?xml version="1.0"?>
<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433 을 방문하십시오.
  -->
<configuration>
	<appSettings>

	</appSettings>
	<connectionStrings>
		<add name="ShopDB" connectionString="data source=devweb.barunson.com,1433;initial catalog=bar_shop1;persist security info=True;user id=barunuser;password=ysmultrasa;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
		<add name="BarunsonDB" connectionString="data source=devweb.barunson.com,1433;initial catalog=barunson;persist security info=True;user id=barunuser;password=ysmultrasa;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>		
	</connectionStrings>
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.8"/>
		<httpRuntime requestValidationMode="2.0" maxRequestLength="52428800" executionTimeout="5"/>
		<authentication mode="Forms">
			<forms name="ASPXAUTH" loginUrl="/TestUnit/Login.aspx" timeout="2880" protection="None" cookieless="UseCookies"/>
		</authentication>
		<pages enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="Static" maintainScrollPositionOnPostBack="true"/>
		<machineKey validationKey="CF4EB7738392658D29C50E6EF9A171191D5D0F597743764EE6AFEE353240529B0DF3B7D650C4B4F8697B1B54174891595EF3FD54433923F7F25CF548E9FEB9B3" decryptionKey="B4ED312D1E483CF97FDD1F4FD1F08FE7285870DCAA656F83" validation="SHA1" decryption="Auto"/>

		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<security>
			<requestFiltering allowDoubleEscaping="true">
				<requestLimits maxAllowedContentLength="52428800"/>
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<clear/>
				<add name="X-UA-Compatible" value="IE=EmulateIE9"/>
				<add name="P3P" value="CP=&quot;ALL CURa ADMa DEVa TAIa OUR BUS IND PHY ONL UNI PUR FIN COM NAV INT DEM CNT STA POL HEA PRE LOC OTC&quot;"/>
			</customHeaders>
		</httpProtocol>
		<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9"/>
			<dynamicTypes>
				<add mimeType="text/*" enabled="true"/>
				<add mimeType="message/*" enabled="true"/>
				<add mimeType="application/x-javascript" enabled="true"/>
				<add mimeType="application/json" enabled="true"/>
				<add mimeType="image/*" enabled="true"/>
				<add mimeType="*/*" enabled="false"/>
			</dynamicTypes>
			<staticTypes>
				<add mimeType="text/*" enabled="true"/>
				<add mimeType="message/*" enabled="true"/>
				<add mimeType="application/x-javascript" enabled="true"/>
				<add mimeType="application/atom+xml" enabled="true"/>
				<add mimeType="application/xaml+xml" enabled="true"/>
				<add mimeType="image/*" enabled="true"/>
				<add mimeType="*/*" enabled="false"/>
			</staticTypes>
		</httpCompression>
		<urlCompression doStaticCompression="true" doDynamicCompression="true"/>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="B77A5C561934E089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="52428800"/>
				<authenticationService enabled="true"/>
			</webServices>
		</scripting>
	</system.web.extensions>
</configuration>