<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Untitled Document</title>
<style>
	* {margin:0; padding:0;}
</style>
</head>
<body>

	<table width="750" cellpadding="0" cellspacing="0" border="0" summary="" style="margin-top:20px;">
		<colgroup>
			<col style="width:750px;">
		</colgroup>
		<!-- header -->
		<thead>
		<tr>
			<td style="border-top:1px solid #e6e6e6">
				<table width="100%" cellpadding="0" cellspacing="0" border="0" summary="">
					<colgroup>
						<col style="width:500px;">
						<col style="width:250px;">
					</colgroup>
					<tbody>
					<tr>
						<td height="80" valign="middle" style="text-align:left;"><img src="https://www.barunnfamily.com/resources/data/pushmail/common/ci_barunn.png" alt="바른컴퍼니-아름다운 생활문화를 디자인하는 기업" border="0"></td>
						<td valign="middle" style="text-align:right; padding-right:10px;"><span><img src="[::LOGO_IMAGE_URL::]" alt="" border="0"></span></td>
					</tr>
					</tbody>
				</table>
			</td>
		</tr>
		</thead>
		<!-- / header -->
		<!-- body -->
		<tbody>
		<tr>
			<td background="https://www.barunnfamily.com/resources/data/pushmail/common/bg_welcome.jpg" style="background-repeat:no-repeat; color:#1f5a8e; font-size:20px; font-family:'맑은 고딕', 'Malgun Gothic', '나눔고딕', 'NanumGothic', 'NanumGothicWEB', '돋움', Dotum, '굴림', Gulim, sans-serif; height:250px; text-align:center;" valign="middle">
				<p style="padding-bottom:40px;">[::USER_ID::]님<br>
				바른 ONE 통합 아이디가입을 축하드립니다.</p>
			</td>
		</tr>
		<tr>
			<td background="https://www.barunnfamily.com/resources/data/pushmail/common/bg_welcome2.jpg" style="background-repeat:no-repeat; background-position:left bottom; background-color:#f0eff0; text-align:center; padding:50px 0 280px 0;">
				<img src="https://www.barunnfamily.com/resources/data/pushmail/img/txt_01.png" alt="바른 ONE 아이디는 바른컴퍼니의 패밀리 사이트를 모두 이용 할 수 있는 통합 아이디입니다. 아이디 하나로 바른컴퍼니의 패밀리 사이트에서 제공하는 다양한 서비스를 이용 및 구매하실 수 있습니다." border="0">
			</td>
		</tr>
		<!-- brand site -->
		<tr>
			<td background="https://www.barunnfamily.com/resources/data/pushmail/common/bg_border.png" style="background-repeat:repeat-y; text-align:center; padding:30px 0">
				<div>
					<p><img src="https://www.barunnfamily.com/resources/data/pushmail/common/tit_barunnfamilysite.png" alt="바른컴퍼니 패밀리 사이트" border="0"></p>
					<p style="padding-top:20px;"><img src="https://www.barunnfamily.com/resources/data/pushmail/common/tit_weddingcard.png" alt="청첩장" border="0"></p>
					<p style="padding-top:10px;">
						<a href="http://www.barunsoncard.com/" target="_blank"><img src="https://www.barunnfamily.com/resources/img_inc/logo_barunsoncard_28.png" alt="바른손카드" border="0"></a>&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="http://www.bhandscard.com/" target="_blank"><img src="https://www.barunnfamily.com/resources/img_inc/logo_bhands_28.png" alt="비핸즈카드" border="0"></a>&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="http://www.premierpaper.co.kr/" target="_blank"><img src="https://www.barunnfamily.com/resources/img_inc/logo_premierpaper_28.png" alt="프리미어페이퍼" border="0"></a>&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="http://www.thecard.co.kr/" target="_blank"><img src="https://www.barunnfamily.com/resources/img_inc/logo_thecard_28.png" alt="더카드" border="0"></a>
					</p>
				</div>

                <div style="padding-top:40px; margin:0 auto;">
                    <p><img src="https://www.barunnfamily.com/resources/data/pushmail/common/celemo_tit.png" alt="답례품샵 셀레모!" border="0"></p>
                    <p style="padding-top:30px;"><img src="https://www.barunnfamily.com/resources/data/pushmail/common/celemo_img01.png" alt="이벤트" border="0" usemap="#Map"></p>
                    <map name="Map">
                        <area shape="rect" coords="0,3,230,255" href="http://www.celemo.co.kr/goods/view?no=1296" target="_blank">
                        <area shape="rect" coords="242,0,470,255" href="http://bhands.firstmall.kr/page/index?tpl=etc/review_view.html" target="_blank">
                        <area shape="rect" coords="482,1,711,254" href="http://bhands.firstmall.kr/page/index?tpl=etc/free_benefit.html" target="_blank">
                    </map>
                    <p style="padding-top:30px;"><img src="https://www.barunnfamily.com/resources/data/pushmail/common/celemo_img02.png" alt="청첩장이용후기 작성하시면 10%답례품 할인쿠폰증정" border="0"></p>
                </div>

			</td>
		</tr>
		<!-- / brand site -->
		</tbody>
		<!-- / body -->
		<!-- footer -->
		<tfoot>
		<tr>
			<td>
				<table width="100%" cellpadding="0" cellspacing="0" border="0" summary="" style="background-color:#313131">
					<colgroup>
						<col style="width:200px;">
						<col style="width:550px;">
					</colgroup>
					<tbody>
					<tr>
						<td><img src="https://www.barunnfamily.com/resources/data/pushmail/common/logo_barunn_foot.png" alt="바른컴퍼니" border="0"></td>
						<td style="font-family:'돋움', Dotum, '굴림', Gulim, sans-serif; font-size:12px; color:#fff;" valign="middle">
							<div style="padding-left:20px;">
								<p>본 메일은 발신전용 메일입니다.</p>
								<p style="padding-top:7px">㈜바른컴퍼니 대표이사: 박정식 </p>
								<p style="padding-top:7px; color:#cccccc; line-height:16px">주소: 경기도 파주시 회동길 219  |  고객센터: 02-1644-7998<br>
								사업자등록번호: 221-81-03108   |  통신판매신고: 2007-00940</p>
							</div>
						</td>
					</tr>
					</tbody>
				</table>
			</td>
		</tr>
		</tfoot>
		<!-- / footer -->		
	</table>

</body>
</html>
